@model SupaSpeedGrader.Models.NavigationModel

@{
    ViewData["Title"] = "Navigation";
    ViewData["state"] = Model.state;
}

<style>
    .hidden {
        visibility: hidden;
        overflow: hidden;
        width: 0px;
        height: 0px;
    }

    .visible {
        visibility: visible;
        overflow: visible;
    }
    .started{
        background-color:yellow;
        color:black;
    }
    .done{
        background-color:green;
        color:white;
    }
    .unstarted{
        background-color:red;
        color:white;
    }
</style>

<body>
    <p></p>
    <div>
        <div style="float:left; width:50%">
            <form action="../Home/Grade">
                <div>

                    <h2>Quiz</h2>
                    <div>
                        <select name="quiz" id="quiz" onchange="quizFunction()">
                            <option value="" selected="selected"></option>
                            @{
                                for (int i = 0; i < Model.quizzes.Count; i++)
                                {
                                    <option value=@Model.quizID[Model.quizzes[i]]>@Model.quizzes[i]</option> <!-- adding color? add this: class="@Model.quizColor[Model.quizzes[i]]"-->
                                }
                            }
                        </select>
                        <p id="demo"></p>
                    </div>
                </div>
                <div>

                    <h2>Section</h2>
                    <div class="hidden" id="sectionForm">
                        @* this sets up how the check boxes function*@
                        <script language="JavaScript">
                            function toggle(source) {
                                checkboxes = document.getElementsByName('foo');

                                for (var i = 0, n = checkboxes.length; i < n; i++) {
                                    checkboxes[i].checked = source.checked;
                                }


                            }
                            function uncheck() {
                                document.getElementById("allsections").checked = false;
                            }
                        </script>

                        <input checked="checked" onClick="toggle(this)" type="checkbox" id="allsections" name="section" value="all">
                        <label for="allsections">Select All</label>

                        @{ for (int i = 0; i < Model.sections.Count; i++)
                            {
                                <br />
                                <input type="checkbox" onClick="uncheck()" checked="checked" id="@Model.sectionID[Model.sections[i]]" name="section" value=@Model.sectionID[Model.sections[i]]>
                                <label for="section">@Model.sections[i]</label>
                            }
                        }
                    </div>
                </div>

                <div>
                    <h2>Question</h2>
                    <div>
                        <select name="question" id="questionDrop" class="hidden">

                            @{
                                for (int i = 0; i < Model.quizdata.Count; i++)
                                {
                                    <option value=@Model.questions[i] class="@Model.questionColor[Model.questions[i]]">@Model.questions[i]</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <p></p>
                <div>
                    <h2>Rubric</h2>
                    <div>
                        <select name="rubric" id="rubric">
                            @* this form gives the options to select from existing rubrics*@
                            <option value="" selected="selected"></option>
                            @{
                                for (int i = 0; i < Model.rubic.Count; i++)
                                {
                                    <option value=@Model.rubic[i]>@Model.rubic[i]</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <input class="hidden" type="text" name="state" id="state" value="@Model.state"><br />
                <input type="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHfNSX7YyLf4h1XAMiFADq4jJt8c9orN9zvvbb-IQp_aF3maXV-A" alt="launch" height="40" width="40" />
            </form>
        </div>

        <!-- right hand column-->
        <div style="float:right; width:50%">
            <h2>Create a Rubric</h2>
            <form action="../Home/Rubric">

                <input class="hidden" type="text" name="state" id="state" value="@Model.state">
                <input type="submit" value="Add a new Rubric " />@* if selected it will autoredirect to the rubric page*@
                <br />
                <br />
            </form>
        </div>

    </div>


    <script>
        function quizFunction() {
            var x = document.getElementById("quiz").value;
            var state = document.getElementById("state").value;

            var postData = { "quiz": x , "state" : state};

            if (x != "") {
                $.ajax({
                   type: "POST",
                   url: "/api/getQuestions",
                   data: postData,
                    success: function (data) {
                        alert(data.Result);
                        //alert(data.Questions);

                        obj = JSON.parse(data.Questions);
                        //alert(obj.questionArray.length);

                        /* Remove all options from the select list */
                        var sel = document.getElementById("questionDrop");

                        sel.options.length = 0;

                        for (var i = 0; i < obj.questionArray.length; i++) {
                            sel.options[i] = new Option((i+1) + ": " + obj.questionArray[i].name, obj.questionArray[i].id + "-"+ i, false, false);
                        }

                    },
                    dataType: "json",
                    traditional: true
                });

                document.getElementById("demo").innerHTML = "You selected: " + x;
                document.getElementById("questionDrop").className = "visible";
                document.getElementById("sectionForm").className = "visible";
                document.getElementById("demo").innerHTML = "You chose: " + x;
            }
            else {
                document.getElementById("questionDrop").className = "hidden";
                document.getElementById("sectionForm").className = "hidden";
                document.getElementById("questionDrop").value = "";
                document.getElementById("demo").innerHTML = "";
            }
        }

    </script>

</body>